@tailwind base;
@tailwind components;
@tailwind utilities;



.hizala{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
body{
  overflow-y: hidden;
}
.main-screen {
  grid-template-columns: 30% 70%;
}