@tailwind base;
@tailwind components;
@tailwind utilities;



.hizala{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
body{
  overflow-y: hidden;
}
.main-screen {
  grid-template-columns: 30% 70%;
}

@media (max-width: 600px) {
.main-screen {
  grid-template-columns: 0 100%;
}
.chatRooms {
  left: -500px;
}
.message-section{
  top:0;
  left:0;

}
}